body {
  color: #333;
  font-family: "source-sans-pro", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center; }

a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }

h1 {
  font-family: "adelle", "source-sans-pro", sans-serif; }

.page-header {
  padding: 2rem 0; }
  .page-header h1, .page-header p {
    margin: 0; }

.sub-h1 {
  font-family: "adelle", "source-sans-pro", sans-serif;
  font-style: italic; }

.nav {
  list-style-type: none;
  padding: 0; }
  .nav li .container-mw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 33vh;
    overflow: hidden;
    max-width: 1520px;
    margin: 0 auto; }
  .nav li .button-group {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    font-family: "adelle", "source-sans-pro", sans-serif;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
    .nav li .button-group > a {
      background-color: white;
      border-radius: 2px;
      border-bottom: 5px solid rgba(0, 0, 0, 0.4);
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
      padding: 1rem 2rem;
      text-decoration: none;
      position: relative; }
  .nav li .bg-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 2rem;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5 1.5 0px;
            flex: 1.5 1.5 0;
    overflow: hidden;
    height: inherit;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .nav li.dark {
    background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 33px, rgba(255, 255, 255, 0.1) 33px, rgba(255, 255, 255, 0.1) 35px);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 33px, rgba(255, 255, 255, 0.1) 33px, rgba(255, 255, 255, 0.1) 35px);
    background-color: #333; }
    .nav li.dark .bg-image {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
